.cab {
  background: rgba(0,0,0,0.15);
  font-size: calc(10px + 1vmin);
  display: flex;
  flex-direction: column;
}
.cab *:not(:last-child){
  margin-bottom: 10px;
}
.cab button {
  font-size: unset;
}

.cab .error {
  color: #ff8888;
  margin: 1em;
}

.cab table td.label {
  font-weight: bold;
  text-align: left;
}
.cab table td.value{
  font-family: monospace;
}