.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

a {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  font-size: calc(10px + 2vmin);
  background: #61dafb;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

button:hover {
  background: #219abb;
  color: white;
}

button:active {
  background: black;
}

